.gamebox{
    /* padding:20px; */
    /* width:600px; */
    border: 1px grey solid;
    height:600px;
    position: relative;
}

.tile{
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid grey;
    text-align: center;
    width:10%;
    height:40px;
    /* margin:auto; */
}

.item{
    position:absolute;
}

img{
    display:inline-block; 
    /* height:100%;  */
    width:10%;
    transition:.1s;
    /* transform-origin:top left; */
}