<!-- <div id="topbar" style="text-align:center;">
  Player 1 Health: <span *ngIf="players[0]">{{players[0].health}}</span>
  - Player 2 Health: <span *ngIf="players[1]">{{players[1].health}}</span>
</div> -->
<div class="gamebox" id="gamebox" (mousemove)="changeAngle($event)">
  <div *ngFor="let item of board">
      <!-- <img *ngIf="item.itemType != 'player'" class="item" [src]="'assets/'+item.img" [style.left.px]="item.coords[0]" [style.bottom.px]="item.coords[1]"> -->
      <img class="item" [src]="'assets/'+item.img" [style.transform]="'rotate('+item.rotation+'deg)'"  [style.left.px]="item.coords[0]" [style.bottom.px]="item.coords[1]">
  </div>
</div>
<router-outlet></router-outlet>