<div id="topbar" style="text-align:center;">
  Player 1 Health: <span *ngIf="players[0]">{{players[0].health}}</span>
  - Player 2 Health: <span *ngIf="players[1]">{{players[1].health}}</span>
</div>
<div class="gamebox" id="gamebox">
  <div *ngFor="let x of board; let row = index">
    <div *ngFor="let y of x; let col = index" class="tile">
      <img [class]="y.itemType" id="{{row}}{{col}}" [src]="'assets/'+y.item.img" [style.left.px]="y.item.x_coord" [style.top.px]="y.item.y_coord">
    </div>
  </div>
</div>
<router-outlet></router-outlet>