.gamebox{
    /* padding:20px; */
    border: 5px grey solid;
    height:100%;
}

.tile{
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid grey;
    text-align: center;
    width:10%;
    height:40px;
    /* margin:auto; */
}

.player{
    position:relative;
}

img{
    display:inline-block; 
    height:100%; 
    width:100%;
}